  <div class='thumbnail'>
    <a href="<%= '#albums/' + photo.get('album_id') + '/photos/' + photo.id %>" >
      <img src="<%= photo.get('photo_url') %>" alt="<%= photo.get('caption') %>" /><br>
    </a>

    <p class='caption'>
      <% if (photo.escape('caption')) { %>
        <%= photo.escape('caption') %>
      <% } %>
    </p>

    <% if (editable) { %>
      <a href="#" class="btn btn-primary delete-photo" role="button"> x </a>
      <a href='#' class='btn btn-primary edit-photo' role="button"> edit </a>
    <% } %>
  </div>
