<form class='photo-create'>
  <input type="text"
         name="photo[caption]"
         placeholder='Photo Caption'
         <% if(photoView) { %>
           value='<%= photoView.model.escape('caption') %>'
         <% } %> >
  <br>

  <input type="button" name="photo[photo_url]" value="">

  <br>
  <button>Create photo</button>
</form>
