<a href="<%= '#albums/' + photo.get('album_id') + '/photos/' + photo.id %>" >
  <%= photo.escape('caption') %>
</a>

<% if (editable) { %>
<button class='delete-photo'> x </button>
<a class='edit-photo'> edit </a>
<% } %>
