<form class='<%= photoView ? 'photo-update' : 'photo-create' %>'>
  <input type="text"
         name="photo[caption]"
         placeholder='Photo Caption'
         <% if(photoView) { %>
           value='<%= photoView.model.escape('caption') %>'
         <% } %> >
  <br>

  <a href='#' class='btn btn-primary choose-photo' role="button"> Click or Drag Photos Here </a>
  <div class='chosen-photos'>  </div>

  <input type="text"
         name="location"
         class="location-picker"
         placeholder="Add location tag"
         <% if(photoView) { %>
           value='<%= location %>'
         <% } %> >
  <br>

  <br>
  <button><%= photoView ? 'Edit Photo' : 'Create Photo' %></button>
</form>
