<div class='photo'>
  <a href="<%= photo.escape('photo_url') %>">
    <img src="<%= photo.escape('photo_url') %>" alt="<%= photo.get('caption') %>" />
  </a>
</div>

<% if (editable) { %>
  <a href='#' class="open-photo-form">Edit photo</a>

  <div class='photo-form'></div>
<% } %>
<a href="<%= '#users/' +  userId + '/albums/' + photo.escape('album_id') %>">
  Back to album
</a>
