/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/sortable
 */

@import "bootstrap-sprockets";
@import 'bootstrap';

html, .container, #main, .main, .main > .row {
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

// Needed to make scrollbar flush on right side
.main .row, .albums{
  margin: 0;
}

body {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  // position: relative;
  overflow-y: hidden;
}

.background-image {
  height: 100%;
  width: 100%;
  position: fixed;
}

.fade-in {
  -webkit-animation: fade-in 1s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

.container {
  padding: 0;
}

.backdrop {
  position: relative;
  height: 100%;
  width: 100%;
}

.main {
  background-color: white;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-bottom {
  width: 100%;
  margin-bottom: 0;
}

.navbar-logo {
  max-height: 40px;
  width: auto;
  margin-top: -10px;
}

.height280{
  height: 280px;
}

.left-align {
  text-align: left !important;
}

.album-item .image:hover{
  transform: rotate(-1deg) ;
}

.photo-item .image:hover{
  transform: rotate(2deg) translateY(-20px);
}

.photo-item {
  display: inline-block;
  vertical-align: bottom;
  padding: 20px;
  width: 300px;
}

.photos {
  padding: 20px;
  height: auto;
}

.center {
  text-align: center;
}

.google-map {
  margin: 20px 0 0 0;
  height: 200px;
  width: 200px;
}

.google-map-collection {
  left: 0;
  height: 100%;
  position: fixed !important;
}

.hidden {
  display: hidden !important;
}

.albums-and-create, .photo-and-create {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  padding-left: 30px;
}

.fit-container {
  height: 50px;
}
.fitable-text {
  margin: 0;
}

.location-name {
  min-height: 20px;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: black;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block-inline;
}

.blueimp-gallery-controls > .description {
  display: block;
  margin: 20px 0 0 20px;
}

.state {
  padding-left: 5px;
}

.city {
  padding-left: 10px;
}
