/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/sortable
 */

@import "bootstrap-sprockets";
@import 'bootstrap';

html, .container, #main, .main, .main > .row {
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

// Needed to make scrollbar flush on right side
.main>.row, .albums{
  margin: 0;
  padding-top: 20px;
}

.panel {
  margin: 0 !important;
  padding-left: 10px;
}

body {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  // position: relative;
  overflow-y: hidden;
  z-index: -1;
}

.background-image {
  height: 100%;
  width: 100%;
  position: fixed;
}

.fade-in {
  -webkit-animation: fade-in 1s ease;
  -moz-animation: fade-in ease-in-out 2s both;
  -ms-animation: fade-in ease-in-out 2s both;
  -o-animation: fade-in ease-in-out 2s both;
  animation: fade-in 2s ease;
  visibility: visible;
  -webkit-backface-visibility: hidden;
}

@-webkit-keyframes fade-in{0%{opacity:0;} 100%{opacity:1;}}
@-moz-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@-o-keyframes fade-in{0%{opacity:0} 100%{opacity:1}}
@keyframes fade-in{0%{opacity:0} 100%{opacity:1}}

.container {
  padding: 0;
}

.backdrop {
  position: relative;
  height: 100%;
  width: 100%;
}

.main {
  background-color: white;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-bottom {
  width: 100%;
  margin-bottom: 0;
}

.navbar-logo {
  max-height: 50px;
  width: auto;
  margin-top: -13px;
}

.height280{
  min-height: 280px;
}

.left-align {
  text-align: left !important;
}

// .album-item .image:hover{
//   transform: rotate(-1deg) ;
// }

.photo-item .image:hover{
  transform: rotate(2deg) translateY(-20px);
}

.photo-item {
  display: inline-block;
  vertical-align: bottom;
  padding: 20px;
  width: 300px;
}

.photos {
  padding: 20px;
  height: auto;
}

.thumbnail {
  margin-bottom: 0;
}

.panel {
  position: relative;
  overflow: hidden;
  display: block;
  border-radius: 0 !important;
}

.panel .panel-body {
  position: relative;
   padding: 0 !important;
   overflow: hidden;
   height: auto;
}

.panel .panel-body a img {
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}

.panel .panel-body a.zoom:hover img {
  transform: scale(1.3);
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -moz-transform: scale(1.3);
}
.panel .panel-body a.zoom span.overlay {
  position: absolute;
  top: 0; left: 0;
  visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0;
  transition: opacity .25s ease-out;
  -moz-transition: opacity .25s ease-out;
  -webkit-transition: opacity .25s ease-out;
  -o-transition: opacity .25s ease-out;
}
.panel .panel-body a.zoom:hover span.overlay {
  display: block;
  visibility: visible;
  opacity: 0.55;
  -moz-opacity: 0.55;
  -webkit-opacity: 0.55;
  filter: alpha(opacity=65);
}

.panel .panel-body a.zoom:hover span.overlay i {
  position: absolute;
  top: 45%; left: 0%;
  width: 100%;
  font-size: 2.25em;
  color: #fff !important;
  text-align: center;
  opacity: 1;
  -moz-opacity: 1;
  -webkit-opacity: 1;
  filter: alpha(opacity=1);
}

.panel .panel-body a.zoom:hover span.overlay h5 {
  color: lightgray;
}

.panel .panel-footer {
  padding: 8px !important;
  background-color: #f9f9f9 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.panel .panel-footer i.fa {
  display: inline;
  font-size: 1.125em;
  cursor: pointer;
}
.fa-pencil {
  color: #1abc9c;
}

.fa-trash {
  color: #e74c3c;
  padding-left: 5px;
}

.center {
  text-align: center;
}

.google-map {
  margin: 20px 0 0 0;
  height: 200px;
  width: 200px;
}

.google-map-collection {
  top: 60px;
  left: 0;
  height: 100%;
  width: 35%;
  z-index: 5;
  position: fixed !important;
}

.infobox-wrapper {
    display:none;
}

#infobox {
    border:1px solid gray;
    margin-top: 8px;
    background: white;
    font-size:12px;
    padding: 5px;
    max-width: 150px;
    border-radius: 5px;
    text-shadow:0 -1px #000000;
    box-shadow: 0 0 8px #000;
}
.hidden {
  display: hidden !important;
}

.albums-and-create, .photo-and-create {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  padding-left: 30px;
}

.fit-container {
  height: 50px;
}
.fitable-text {
  margin: 0;
}

.location-name {
  min-height: 20px;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: black;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block-inline;
}

.blueimp-gallery-controls > .description {
  display: block;
  margin: 20px 0 0 20px;
}

.state {
  padding-left: 5px;
}

.city {
  padding-left: 10px;
}

body.modal-opener #wrap{
  -webkit-filter: blur(7px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
}

.pac-container {
    z-index: 1051 !important;
}

.bg_blur {
  min-height: 200px;
  height: 100%;
  -webkit-filter: blur(5px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  border-radius: 5px;
  box-shadow: 10px 5px 5px #888888;
}

.offset-up {
  position: relative;
  top: -40px;
}

.required {
  color: #de2929;
}

.position-absolute {
  position: absolute !important;
  top: 0 !important;
  background-color: transparent !important;
  border: none !important;
  text-shadow: -2px 0 grey, 0 2px grey, 2px 0 grey, 0 -2px grey;
}
