/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/sortable
 */

@import "bootstrap-sprockets";
@import 'bootstrap';

html, .container, #main, .main, .main > .row {
  height: 100%;
  width: 100%;
  // overflow: hidden;
}

body {
  padding-top: 50px;
  width: 100%;
  height: 100%;
  // position: relative;
  overflow-y: hidden;
  background: url(nTr1589kTgyXCOdStCGm_MikaRuusunen.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.backdrop {
  position: relative;
  height: 100%;
  width: 100%;
}

.image {
  height: 400px;
}

.main {
  background-color: white;
}

.login div {
  padding: 0;
}

.container {
  padding: 0;
}

.row {
  margin: 0;
}

.thumbnail {
  border: 0;
}

.album-item img:hover{
  transform: rotate(-1deg) ;
}

.photo-item img:hover{
  transform: rotate(2deg) translateY(-20px);
}

.photos {
  padding: 20px;
  height: auto;
}

.photo-item {
  display: inline-block;
  vertical-align: bottom;
  padding: 20px;
  width: 300px;
}

.google-map {
  margin: 20px 0 0 0;
  height: 200px;
  width: 200px;
}

.google-map.hidden {
  display: hidden;
}

.google-map-collection {
  left: 0;
  height: 100%;
  position: fixed !important;
}

.google-map-collection.hidden {
  display: hidden !important;
}

.albums-and-create, .photo-and-create {
  height: 100%;
  overflow-y: scroll;
  // position: absolute;
}

.fit-container {
  height: 50px;
}
.fitable-text {
  margin: 0;
}

.location-name {
  min-height: 20px;
}

.blueimp-gallery > .description {
  position: absolute;
  top: 30px;
  left: 15px;
  color: black;
  display: none;
}
.blueimp-gallery-controls > .description {
  display: block-inline;
}

.blueimp-gallery-controls > .description {
  display: block;
  margin: 20px 0 0 20px;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

.navbar-bottom {
  width: 100%;
  margin-bottom: 0;
}
