<div class='thumbnail'>
  <a href="<%= '#users/' + album.escape('owner_id') + '/albums/' + album.id %>" >
    <h3 class='title'><%= album.escape('title') %></h3>
    <% if(photo) { %>
      <img src="<%= photo.escape('photo_url') %>" alt="<%= photo.escape('caption') %>"/></a>
    <% } else { %>
      </a>
      <p><i>No Images in this Album</i></p>
    <% } %>

  <% if (editable) { %>
    <a href="#" class="btn btn-primary delete-album"> x </a>
    <a href='#' class='btn btn-primary edit-album' role="button"> edit </a>
    <div class='edit-album-form'>

    </div>
  <% } %>
</div>
