<form class='<%= albumView ? 'album-update' : 'album-create' %>'>
  <input type="text"
         name="album[title]"
         placeholder='Album Name'
         <% if(albumView) { %>
           value='<%= albumView.model.escape('title') %>'
         <% } %> >
  <br>

  <input type="text"
         name="location"
         class="location-picker"
         placeholder="Add location tag"
         <% if(albumView) { %>
           value='<%= location %>'
         <% } %> >
  <br>
  <% if(!albumView) { %>

    <a href='#' class='btn btn-primary choose-photo' role="button"> Click or Drag Photos Here </a>
    <div class='chosen-photos'>  </div>

    <input type="text" name="photo[caption]" placeholder='Photo Caption'>

  <% } %>
  <button><%= albumView ? 'Edit Album' : 'Create Album' %></button>
</form>
