<div class='album-form'></div>
<div class='photo-form'></div>

<div class="row" id="wrap">
  <div class="col-md-4 google-map-collection hidden-xs"></div>

  <div class='photo-and-create col-md-8 col-md-offset-4'>
    <div class="row panel">
      <div class="container col-md-12">
        <div class="bg_blur thumbnail no-image"></div>
        <div class="header position-absolute thumbnail">
          <h1 class="row">
            <div class="col-md-10">
              <%= album.escape('title') %>
            </div>
            <div class="col-md-2">
              <button class="open-photo-form btn btn-default" data-toggle="modal" data-target="#photoFormNew"> <span class="fa fa-plus"></span> Photo</button>
            </div>
          </h1>
        </div>

        <div class="row">
          <p class="col-md-12"><%= album.escape('description') %></p>
        </div>
      </div>
    </div>

    <div class='photos' id='links'></div>
  </div>
</div>


<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <div class="description google-map"></div>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
