<div class='album-form'></div>
<div class='photo-form'></div>

<div class="row">
  <div class="col-md-4 google-map-collection"></div>

  <div class='photo-and-create col-md-8 col-md-offset-4'>

    <h1>
      <%= album.escape('title') %>
    </h1>
    
      <div class='photos' id='links'></div>
  </div>
</div>


<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <div class="description google-map"></div>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
