<div class='album-form'></div>
<div class='photo-form'></div>

<div class="row" id="wrap">
  <div class="col-md-4 google-map-collection"></div>

  <div class='photo-and-create col-md-8 col-md-offset-4'>
    <div class="row panel">
      <div class="col-md-4 thumbnail no-image">
        <div class="bg_blur ">
        </div>
        <div class="pic_button">
        </div>
      </div>
      <div class="col-md-8  col-xs-12 thumbnail">
        <div class="header">
          <h1 class="row">
            <div class="col-md-10">
              <%= album.escape('title') %>
            </div>
            <div class="col-md-2 offset-up">
              <button class="open-photo-form btn btn-default" data-toggle="modal" data-target="#photoFormNew"> <span class="fa fa-plus"></span> Photo</button>
            </div>
          </h1>
          <div class="row">
            <p class="col-md-12"><%= album.escape('description') %></p>
          </div>
        </div>
      </div>
    </div>

    <div class='photos' id='links'></div>
  </div>
</div>


<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <div class="description google-map"></div>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
