<h1> <%= album.escape('title') %> </h1>

<div class='photos-and-create'>

  <div class='photos'>


  </div>

<% if (editable) { %>
  <a href='#' class="open-photo-form">Add a new photo</a>

  <div class='photo-form'>

  </div>
<% } %>
