<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Instacation: A Micro-Vacation in an Instant</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
    <% if current_user %>
      <li id='add-dropdown' class='dropdown'>
        <button
          class='dropdown-toggle navbar-btn btn btn-primary'
          data-toggle='dropdown'><span class='glyphicon glyphicon-plus'></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>test</li>
        </ul>
      </li>
      <li><%= button_to "Sign out", session_url, method: :delete, class: "btn btn-primary navbar-btn" %></li>
    <% end %>
    </ul>
  </div>
</div>
</nav>

<% if flash[:errors] %>
<div class="alert alert-warning alert-dismissible" role="alert">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
<%= flash[:errors].join("<br>").html_safe %>
</div>
<% end %>
